modded/nodered/automation
[{"id":"e5e531b4.33702","type":"inject","z":"f943d5c7.2e4f58","name":"Inject 1000ms","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":119,"y":180,"wires":[["8c5dee4.26fd11","5e464098.6f8bb"]]},{"id":"8c5dee4.26fd11","type":"function","z":"f943d5c7.2e4f58","name":"auto-led","func":"if(global.get(\"auto\") == true)\n{\n    if(global.get(\"human\") == true)\n    {\n        if((global.get(\"light\") == false && global.get(\"led\") == false ) || (global.get(\"light\") == true && global.get(\"led\") == true ))\n        {\n            msg.topic = \"led/switch\";\n            msg.payload = \"switch\";\n            return msg;\n        }\n    }\n    else\n    {\n        if(global.get(\"led\") == true)\n        {\n            msg.topic = \"led/switch\";\n            msg.payload = \"switch\";\n            return msg;\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":372.5,"y":181,"wires":[["d923f4ba.004688"]]},{"id":"d923f4ba.004688","type":"mqtt out","z":"f943d5c7.2e4f58","name":"","topic":"","qos":"","retain":"","broker":"3311b9ef.38b1e6","x":586.5,"y":183,"wires":[]},{"id":"5e464098.6f8bb","type":"function","z":"f943d5c7.2e4f58","name":"auto-fan","func":"if(global.get(\"auto\") == true)\n{\n    if(global.get(\"human\") == true)\n    {\n        if((global.get(\"temp\") >=24 && global.get(\"fan\") == false ) || (global.get(\"temp\") <24 && global.get(\"fan\") == true ))\n        {\n            msg.topic = \"fan/switch\";\n            msg.payload = \"switch\";\n            return msg;\n        }\n    }\n    else\n    {\n        if(global.get(\"fan\") == true)\n        {\n            msg.topic = \"fan/switch\";\n            msg.payload = \"switch\";\n            return msg;\n        }\n    }\n}\n","outputs":1,"noerr":0,"x":373.5,"y":281,"wires":[["d923f4ba.004688"]]},{"id":"d5fe4de9.d823e","type":"function","z":"f943d5c7.2e4f58","name":"auto-led","func":"if(global.get(\"auto\") == true)\n{\n    if((global.get(\"light\") == false && global.get(\"led\") == false ) || (global.get(\"light\") == true && global.get(\"led\") == true ))\n    {\n        msg.topic = \"led/switch\";\n        msg.payload = \"switch\";\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":276,"y":481,"wires":[[]]},{"id":"6add5ff2.8a192","type":"function","z":"f943d5c7.2e4f58","name":"auto-fan","func":"if(global.get(\"auto\") == true)\n{\n    if((global.get(\"temp\") >=24 && global.get(\"fan\") == false ) || (global.get(\"temp\") <24 && global.get(\"fan\") == true ))\n    {\n        msg.topic = \"fan/switch\";\n        msg.payload = \"switch\";\n        return msg;\n    }\n}\n","outputs":1,"noerr":0,"x":274,"y":556,"wires":[[]]},{"id":"3311b9ef.38b1e6","type":"mqtt-broker","z":"","name":"Pi-Server(local)","broker":"10.10.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]