modded/nodered/http-mqtt-bridge
[{"id":"25560305.70eb5c","type":"template","z":"8bd5c83.7ded838","name":"mqtt.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body onLoad=\"javascript:history.go(-1)\">\n        <h1>MQTT Publisher</h1>\n        Topic : {{req.query.topic}}\n        <br/>\n        Payload : {{req.query.payload}}\n    </body>\n</html>","x":444,"y":254,"wires":[["d39e5338.e2171"]]},{"id":"c479918a.94d4e","type":"http in","z":"8bd5c83.7ded838","name":"","url":"/mqtt","method":"get","upload":false,"swaggerDoc":"","x":244,"y":254,"wires":[["25560305.70eb5c","6e088cb0.fe28f4","957bc287.6938c"]]},{"id":"d39e5338.e2171","type":"http response","z":"8bd5c83.7ded838","name":"","statusCode":"","headers":{},"x":654,"y":254,"wires":[]},{"id":"6e088cb0.fe28f4","type":"function","z":"8bd5c83.7ded838","name":"argDecoder","func":"var jsonObj = msg.payload;\nmsg.topic = String(jsonObj.topic);\nmsg.payload = String(jsonObj.payload);\nreturn msg;","outputs":1,"noerr":0,"x":454,"y":293,"wires":[["e30044bd.4a8b78","3504b770.e36ec8"]]},{"id":"e30044bd.4a8b78","type":"debug","z":"8bd5c83.7ded838","name":"php-mqtt-debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":686,"y":339,"wires":[]},{"id":"3504b770.e36ec8","type":"mqtt out","z":"8bd5c83.7ded838","name":"","topic":"","qos":"","retain":"","broker":"4f1efcc7.1dfa74","x":654,"y":294,"wires":[]},{"id":"957bc287.6938c","type":"debug","z":"8bd5c83.7ded838","name":"html-mqrr-bridge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":466,"y":340,"wires":[]},{"id":"aeb36d10.b8cad","type":"comment","z":"8bd5c83.7ded838","name":"forward http request to mqtt boker","info":"http://192.168.1.247:1880/mqtt?topic=led/switch&payload=1\nhttp://192.168.1.247:1880/mqtt?topic=fan/switch&payload=1\nhttp://192.168.1.247:1880/mqtt?topic=auto&payload=1","x":313.5,"y":198,"wires":[]},{"id":"4f1efcc7.1dfa74","type":"mqtt-broker","z":"","name":"Pi-Server(local)","broker":"10.10.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]