modded/nodered/mqtt-mysql-bridge
[{"id":"9300a16a.a54c5","type":"config","z":"c452a1fa.f0d8b","name":"init","properties":[{"p":"led","pt":"global","to":"false","tot":"bool"},{"p":"fan","pt":"global","to":"false","tot":"bool"},{"p":"auto","pt":"global","to":"false","tot":"bool"},{"p":"light","pt":"global","to":"false","tot":"bool"},{"p":"temp","pt":"global","to":"0","tot":"num"},{"p":"hum","pt":"global","to":"0","tot":"num"},{"p":"human","pt":"global","to":"false","tot":"bool"}],"active":true,"x":131,"y":82,"wires":[]},{"id":"97e13d95.62034","type":"comment","z":"c452a1fa.f0d8b","name":"init global var","info":"","x":125.5,"y":38,"wires":[]},{"id":"47284025.d177b","type":"mqtt in","z":"c452a1fa.f0d8b","name":"led","topic":"led/state","qos":"2","broker":"3311b9ef.38b1e6","x":289.5,"y":84,"wires":[["d034b40f.00ed48"]]},{"id":"d0fd9e71.55864","type":"mqtt in","z":"c452a1fa.f0d8b","name":"fan","topic":"fan/state","qos":"2","broker":"3311b9ef.38b1e6","x":286.5,"y":196,"wires":[["6164fa41.b5f654"]]},{"id":"d25ff477.4b1bb8","type":"mqtt in","z":"c452a1fa.f0d8b","name":"auto","topic":"auto","qos":"2","broker":"3311b9ef.38b1e6","x":282.5,"y":292,"wires":[["af677fff.1537d"]]},{"id":"923ef121.a6f59","type":"mqtt in","z":"c452a1fa.f0d8b","name":"temp","topic":"sensor/temp","qos":"2","broker":"3311b9ef.38b1e6","x":289.5,"y":403,"wires":[["abbc99aa.331f18"]]},{"id":"645c8f1a.7aaf8","type":"mqtt in","z":"c452a1fa.f0d8b","name":"hum","topic":"sensor/hum","qos":"2","broker":"3311b9ef.38b1e6","x":290.5,"y":509,"wires":[["ad3b1154.14af7"]]},{"id":"cd9575a6.bb5df8","type":"mqtt in","z":"c452a1fa.f0d8b","name":"light","topic":"sensor/light","qos":"2","broker":"3311b9ef.38b1e6","x":284.5,"y":606,"wires":[["c4611586.08db08"]]},{"id":"3e2a555.5233caa","type":"mqtt in","z":"c452a1fa.f0d8b","name":"human","topic":"sensor/human","qos":"2","broker":"3311b9ef.38b1e6","x":290.5,"y":711,"wires":[["ffd9ab2d.075d18"]]},{"id":"6164fa41.b5f654","type":"function","z":"c452a1fa.f0d8b","name":"","func":"//set global var from mqtt msg\nif(msg.payload == \"1\")\n    global.set(\"fan\",true); \nelse\n    global.set(\"fan\",false);\n//for debug\nmsg.payload = global.get(\"fan\");\nreturn msg;","outputs":1,"noerr":0,"x":447.5,"y":194,"wires":[["60a4cd19.c95874","3563d97b.1ab266"]]},{"id":"d034b40f.00ed48","type":"function","z":"c452a1fa.f0d8b","name":"","func":"//set global var from mqtt msg\nif(msg.payload == \"1\")\n    global.set(\"led\",true); \nelse\n    global.set(\"led\",false);\n//for debug\nmsg.payload = global.get(\"led\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":82,"wires":[["b87379e0.2a14c8","3563d97b.1ab266"]]},{"id":"af677fff.1537d","type":"function","z":"c452a1fa.f0d8b","name":"","func":"//set global var from mqtt msg\nif(msg.payload == \"1\")\n    global.set(\"auto\",true); \nelse\n    global.set(\"auto\",false);\n//for debug\nmsg.payload = global.get(\"auto\");\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":292,"wires":[["b17b16d3.a821a8","3563d97b.1ab266"]]},{"id":"abbc99aa.331f18","type":"function","z":"c452a1fa.f0d8b","name":"","func":"//set global var from mqtt msg\nglobal.set(\"temp\",parseInt(msg.payload)); \n//for debug\nmsg.payload = global.get(\"temp\");\nreturn msg;","outputs":1,"noerr":0,"x":453,"y":404,"wires":[["66c9636e.c6d75c","3563d97b.1ab266"]]},{"id":"ad3b1154.14af7","type":"function","z":"c452a1fa.f0d8b","name":"","func":"//set global var from mqtt msg\nglobal.set(\"hum\",parseInt(msg.payload)); \n//for debug\nmsg.payload = global.get(\"hum\");\nreturn msg;","outputs":1,"noerr":0,"x":452,"y":507,"wires":[["6659b364.71007c","3563d97b.1ab266"]]},{"id":"c4611586.08db08","type":"function","z":"c452a1fa.f0d8b","name":"","func":"//set global var from mqtt msg\nif(msg.payload == \"1\")\n    global.set(\"light\",true); \nelse\n    global.set(\"light\",false);\n//for debug\nmsg.payload = global.get(\"light\");\nreturn msg;","outputs":1,"noerr":0,"x":444,"y":606,"wires":[["24da8c49.6fdd94","3563d97b.1ab266"]]},{"id":"ffd9ab2d.075d18","type":"function","z":"c452a1fa.f0d8b","name":"","func":"//set global var from mqtt msg\nif(msg.payload == \"1\")\n    global.set(\"human\",true); \nelse\n    global.set(\"human\",false);\n//for debug\nmsg.payload = global.get(\"human\");\nreturn msg;","outputs":1,"noerr":0,"x":448,"y":711,"wires":[["4dfe661f.acf288","3563d97b.1ab266"]]},{"id":"b87379e0.2a14c8","type":"debug","z":"c452a1fa.f0d8b","name":"led","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":444.5,"y":135,"wires":[]},{"id":"60a4cd19.c95874","type":"debug","z":"c452a1fa.f0d8b","name":"fan","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":249,"wires":[]},{"id":"b17b16d3.a821a8","type":"debug","z":"c452a1fa.f0d8b","name":"auto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":448,"y":349,"wires":[]},{"id":"66c9636e.c6d75c","type":"debug","z":"c452a1fa.f0d8b","name":"temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":448,"y":454,"wires":[]},{"id":"6659b364.71007c","type":"debug","z":"c452a1fa.f0d8b","name":"hum","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":450,"y":555,"wires":[]},{"id":"24da8c49.6fdd94","type":"debug","z":"c452a1fa.f0d8b","name":"light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":443,"y":657,"wires":[]},{"id":"4dfe661f.acf288","type":"debug","z":"c452a1fa.f0d8b","name":"human","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":448,"y":765,"wires":[]},{"id":"4f8391c3.d31e","type":"comment","z":"c452a1fa.f0d8b","name":"data converter","info":"","x":304.5,"y":37,"wires":[]},{"id":"3563d97b.1ab266","type":"function","z":"c452a1fa.f0d8b","name":"insert","func":"msg.topic=\"INSERT INTO room(led,fan,auto,temp,hum,light,human) VALUES(\" + global.get(\"led\") + \",\" + global.get(\"fan\") + \",\" + global.get(\"auto\") + \",\" + global.get(\"temp\") + \",\" + global.get(\"hum\") + \",\" + global.get(\"light\") + \",\" + global.get(\"human\") + \");\";\nreturn msg;\n","outputs":1,"noerr":0,"x":710.5,"y":406,"wires":[["f8c463b6.ade9c","95eb6cbd.65ef1"]]},{"id":"f8c463b6.ade9c","type":"mysql","z":"c452a1fa.f0d8b","mydb":"d86c0029.c242f","name":"","x":855.5,"y":407,"wires":[[]]},{"id":"95eb6cbd.65ef1","type":"debug","z":"c452a1fa.f0d8b","name":"insert-query","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":856.5,"y":469,"wires":[]},{"id":"3311b9ef.38b1e6","type":"mqtt-broker","z":"","name":"Pi-Server(local)","broker":"10.10.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d86c0029.c242f","type":"MySQLdatabase","z":"","host":"10.10.0.1","port":"3306","db":"pi","tz":""}]