node-red/data-updater
[{"id":"ded76d4a.11cbc","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":809.5,"y":83,"wires":[["daaf8fa6.aa0b3"]]},{"id":"16a2fb30.25e295","type":"config","z":"af439dda.39842","name":"","properties":[{"p":"LightState","pt":"global","to":"0","tot":"str"},{"p":"LightAuto","pt":"global","to":"0","tot":"str"},{"p":"AirconState","pt":"global","to":"0","tot":"str"},{"p":"AirconAuto","pt":"global","to":"0","tot":"str"},{"p":"StoveState","pt":"global","to":"0","tot":"str"},{"p":"StoveAuto","pt":"global","to":"0","tot":"str"},{"p":"light","pt":"global","to":"0","tot":"str"},{"p":"temp","pt":"global","to":"0","tot":"str"},{"p":"hum","pt":"global","to":"0","tot":"str"}],"active":true,"x":188.5,"y":84,"wires":[]},{"id":"61ba7f80.8b203","type":"inject","z":"af439dda.39842","name":"Get Interval","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"1","x":373,"y":82,"wires":[["fd245fe6.6522f","9f85fce1.08709","d4635fc1.292e1","5c1c6cd5.d0e544","ba2d95d0.572cc8","94593d6c.8682e","51d49924.7edf38","3dcc1b4e.834df4","1f0c9aa3.a784d5"]]},{"id":"fd245fe6.6522f","type":"function","z":"af439dda.39842","name":"select-light-state","func":"msg.topic = \"SELECT state FROM LightState WHERE id=(SELECT max(id) FROM LightState);\"\nreturn msg;","outputs":1,"noerr":0,"x":628.5,"y":83,"wires":[["ded76d4a.11cbc"]]},{"id":"daaf8fa6.aa0b3","type":"function","z":"af439dda.39842","name":"LightState","func":"msg.payload = msg.payload[0].state;\nglobal.set('LightState',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":960.5,"y":83,"wires":[["5ece826d.70df5c"]]},{"id":"5ece826d.70df5c","type":"debug","z":"af439dda.39842","name":"LightState","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1122.5,"y":83,"wires":[]},{"id":"e38832e3.7ccbe","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":812,"y":156,"wires":[["58e1164a.80ebb8"]]},{"id":"9f85fce1.08709","type":"function","z":"af439dda.39842","name":"select-light-auto","func":"msg.topic = \"SELECT state FROM LightAuto WHERE id=(SELECT max(id) FROM LightAuto);\"\nreturn msg;","outputs":1,"noerr":0,"x":631,"y":156,"wires":[["e38832e3.7ccbe"]]},{"id":"58e1164a.80ebb8","type":"function","z":"af439dda.39842","name":"LightAuto","func":"msg.payload = msg.payload[0].state;\nglobal.set('LightAuto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":963,"y":156,"wires":[["173d35a1.9c3c1a"]]},{"id":"173d35a1.9c3c1a","type":"debug","z":"af439dda.39842","name":"LightAuto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1125,"y":156,"wires":[]},{"id":"2320b8da.d658f8","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":813,"y":217,"wires":[["c59f2065.f3dab"]]},{"id":"d4635fc1.292e1","type":"function","z":"af439dda.39842","name":"select-aircon-state","func":"msg.topic = \"SELECT state FROM AirconState WHERE id=(SELECT max(id) FROM AirconState);\"\nreturn msg;","outputs":1,"noerr":0,"x":642,"y":217,"wires":[["2320b8da.d658f8"]]},{"id":"c59f2065.f3dab","type":"function","z":"af439dda.39842","name":"AirconState","func":"msg.payload = msg.payload[0].state;\nglobal.set('AirconState',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":974,"y":217,"wires":[["ca56bdb7.8b3ef"]]},{"id":"ca56bdb7.8b3ef","type":"debug","z":"af439dda.39842","name":"AirconState","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1136,"y":217,"wires":[]},{"id":"6c770dfa.4b8e34","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":811,"y":287,"wires":[["80683560.863098"]]},{"id":"5c1c6cd5.d0e544","type":"function","z":"af439dda.39842","name":"select-aircon-auto","func":"msg.topic = \"SELECT state FROM AirconAuto WHERE id=(SELECT max(id) FROM AirconAuto);\"\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":287,"wires":[["6c770dfa.4b8e34"]]},{"id":"80683560.863098","type":"function","z":"af439dda.39842","name":"AirconAuto","func":"msg.payload = msg.payload[0].state;\nglobal.set('AirconAuto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":972,"y":287,"wires":[["e3f6167f.204d88"]]},{"id":"e3f6167f.204d88","type":"debug","z":"af439dda.39842","name":"AirconAuto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1134,"y":287,"wires":[]},{"id":"b1d307a4.e85788","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":814,"y":346,"wires":[["11a77435.a21fac"]]},{"id":"ba2d95d0.572cc8","type":"function","z":"af439dda.39842","name":"select-stove-state","func":"msg.topic = \"SELECT state FROM StoveState WHERE id=(SELECT max(id) FROM StoveState);\"\nreturn msg;","outputs":1,"noerr":0,"x":643,"y":346,"wires":[["b1d307a4.e85788"]]},{"id":"11a77435.a21fac","type":"function","z":"af439dda.39842","name":"StoveState","func":"msg.payload = msg.payload[0].state;\nglobal.set('StoveState',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":975,"y":346,"wires":[["1a6c9d64.b1e5e3"]]},{"id":"1a6c9d64.b1e5e3","type":"debug","z":"af439dda.39842","name":"StoveState","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1137,"y":346,"wires":[]},{"id":"6e71d8cc.05f718","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":815,"y":413,"wires":[["3c497279.ab3d7e"]]},{"id":"94593d6c.8682e","type":"function","z":"af439dda.39842","name":"select-stove-auto","func":"msg.topic = \"SELECT state FROM StoveAuto WHERE id=(SELECT max(id) FROM StoveAuto);\"\nreturn msg;","outputs":1,"noerr":0,"x":644,"y":413,"wires":[["6e71d8cc.05f718"]]},{"id":"3c497279.ab3d7e","type":"function","z":"af439dda.39842","name":"StoveAuto","func":"msg.payload = msg.payload[0].state;\nglobal.set('StoveAuto',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":976,"y":413,"wires":[["cc475cc8.e2485"]]},{"id":"cc475cc8.e2485","type":"debug","z":"af439dda.39842","name":"StoveAuto","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1138,"y":413,"wires":[]},{"id":"1b7884f8.b38a3b","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":818,"y":514,"wires":[["1a8016a1.3ddc49"]]},{"id":"51d49924.7edf38","type":"function","z":"af439dda.39842","name":"select-light","func":"msg.topic = \"SELECT light FROM Room WHERE id=(SELECT max(id) FROM Room);\"\nreturn msg;","outputs":1,"noerr":0,"x":627,"y":514,"wires":[["1b7884f8.b38a3b"]]},{"id":"1a8016a1.3ddc49","type":"function","z":"af439dda.39842","name":"light","func":"msg.payload = msg.payload[0].light;\nglobal.set('light',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":959,"y":514,"wires":[["376514f9.2c188c"]]},{"id":"376514f9.2c188c","type":"debug","z":"af439dda.39842","name":"light","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1121,"y":514,"wires":[]},{"id":"ac49cf03.ad6d7","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":821,"y":575,"wires":[["57bfa98d.1caa68"]]},{"id":"3dcc1b4e.834df4","type":"function","z":"af439dda.39842","name":"select-temp","func":"msg.topic = \"SELECT temp FROM Room WHERE id=(SELECT max(id) FROM Room);\"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":575,"wires":[["ac49cf03.ad6d7"]]},{"id":"57bfa98d.1caa68","type":"function","z":"af439dda.39842","name":"temp","func":"msg.payload = msg.payload[0].temp;\nglobal.set('temp',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":962,"y":575,"wires":[["b52c71bf.0ac03"]]},{"id":"b52c71bf.0ac03","type":"debug","z":"af439dda.39842","name":"temp","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1124,"y":575,"wires":[]},{"id":"f865b0f9.110c6","type":"mysql","z":"af439dda.39842","mydb":"e191f183.eed72","name":"","x":819,"y":637,"wires":[["74fb8127.b0b61"]]},{"id":"1f0c9aa3.a784d5","type":"function","z":"af439dda.39842","name":"select-hum","func":"msg.topic = \"SELECT hum FROM Room WHERE id=(SELECT max(id) FROM Room);\"\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":637,"wires":[["f865b0f9.110c6"]]},{"id":"74fb8127.b0b61","type":"function","z":"af439dda.39842","name":"hum","func":"msg.payload = msg.payload[0].hum;\nglobal.set('hum',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":637,"wires":[["1917d6e6.a8d929"]]},{"id":"1917d6e6.a8d929","type":"debug","z":"af439dda.39842","name":"hum","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1122,"y":637,"wires":[]},{"id":"e191f183.eed72","type":"MySQLdatabase","z":"","host":"10.10.0.1","port":"3306","db":"pi","tz":""}]
