node-red/data-flow.txt
[{"id":"e633d6a0.a48ba8","type":"template","z":"a246acd.665f25","name":"mqtt.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>MQTT Publisher</h1>\n        Topic : {{req.query.t}}\n        <br/>\n        Payload : {{req.query.m}}\n    </body>\n</html>","x":388,"y":71,"wires":[["33c58c78.632ad4"]]},{"id":"f0be459c.ae3128","type":"http in","z":"a246acd.665f25","name":"","url":"/mqtt","method":"get","upload":false,"swaggerDoc":"","x":188,"y":71,"wires":[["e633d6a0.a48ba8","c389150e.1dcfb8","609048d3.324e68"]]},{"id":"33c58c78.632ad4","type":"http response","z":"a246acd.665f25","name":"","statusCode":"","headers":{},"x":598,"y":71,"wires":[]},{"id":"c389150e.1dcfb8","type":"function","z":"a246acd.665f25","name":"argDecoder","func":"var jsonObj = msg.payload;\nmsg.topic = String(jsonObj.t);\nmsg.payload = String(jsonObj.m);\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":111,"wires":[["c7d64599.ee3668","e9f96917.e0d798"]]},{"id":"c7d64599.ee3668","type":"debug","z":"a246acd.665f25","name":"php-mqtt-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":628,"y":151,"wires":[]},{"id":"e9f96917.e0d798","type":"mqtt out","z":"a246acd.665f25","name":"","topic":"","qos":"","retain":"","broker":"2ba23ad0.f06ae6","x":598,"y":111,"wires":[]},{"id":"9fa516dd.37b518","type":"mqtt in","z":"a246acd.665f25","name":"ipmi-sub","topic":"ipmi/#","qos":"2","broker":"2ba23ad0.f06ae6","x":198,"y":251,"wires":[["e00b0a24.113248","47494beb.79b484"]]},{"id":"e00b0a24.113248","type":"switch","z":"a246acd.665f25","name":"topic-filter","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"ipmi/ShellReport","vt":"str"},{"t":"eq","v":"ipmi/HardwareReport","vt":"str"},{"t":"eq","v":"ipmi/IpmiReport","vt":"str"},{"t":"eq","v":"ipmi/PowerStateReport","vt":"str"},{"t":"eq","v":"ipmi/ConnectionStatus","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":368,"y":251,"wires":[["9568c7cb.e466c8"],[],[],["f952b220.a253a"],["5fa0d8ee.393be8"]]},{"id":"47494beb.79b484","type":"debug","z":"a246acd.665f25","name":"mqtt-global-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":399,"y":351,"wires":[]},{"id":"9568c7cb.e466c8","type":"function","z":"a246acd.665f25","name":"ipmi/ShellReport","func":"var jsonObj = msg.payload;\nvar query = \"INSERT INTO ShellReport (result) VALUES ('\"+ msg.payload  +\"');\";\nmsg.topic=query;\nmsg.payload=\"insert data\";\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":211,"wires":[["5ae9d62b.f94478"]]},{"id":"f952b220.a253a","type":"function","z":"a246acd.665f25","name":"ipmi/PowerStateReport","func":"var query;\nif(msg.payload==\"0\")\n    query = \"INSERT INTO PowerStateReport (state) VALUES (FALSE);\";\nif(msg.payload==\"1\")\n    query = \"INSERT INTO PowerStateReport (state) VALUES (TRUE);\";\nmsg.topic=query;\nmsg.payload=\"insert data\";\nreturn msg;","outputs":1,"noerr":0,"x":657,"y":264,"wires":[["5ae9d62b.f94478"]]},{"id":"5fa0d8ee.393be8","type":"function","z":"a246acd.665f25","name":"ipmi/ConnectionStatus","func":"var query;\nif(msg.payload==\"0\")\n    query = \"INSERT INTO ConnectionStatus (state) VALUES (FALSE);\";\nif(msg.payload==\"1\")\n    query = \"INSERT INTO ConnectionStatus (state) VALUES (TRUE);\";\nmsg.topic=query;\nmsg.payload=\"insert data\";\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":309,"wires":[["5ae9d62b.f94478"]]},{"id":"5ae9d62b.f94478","type":"mysql","z":"a246acd.665f25","mydb":"c5f5c7a7.27e478","name":"database","x":978,"y":271,"wires":[[]]},{"id":"609048d3.324e68","type":"debug","z":"a246acd.665f25","name":"html-mqrr-bridge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":278,"y":171,"wires":[]},{"id":"2ba23ad0.f06ae6","type":"mqtt-broker","z":"","name":"docker-gateway","broker":"10.10.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c5f5c7a7.27e478","type":"MySQLdatabase","z":"a246acd.665f25","host":"10.10.0.1","port":"3306","db":"test","tz":""}]