node-red/global-example.txt
[{"id":"c9d9e489.86dde8","type":"inject","z":"3d4fadf1.fb4d02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":182,"y":202,"wires":[["31c262ab.7391ae"]]},{"id":"31c262ab.7391ae","type":"function","z":"3d4fadf1.fb4d02","name":"","func":"var 
lol=24;\nglobal.set(\"temp\",lol);\nreturn 
msg;","outputs":1,"noerr":0,"x":368,"y":202,"wires":[[]]},{"id":"59c2b450.1870dc","type":"inject","z":"3d4fadf1.fb4d02","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":173,"y":271,"wires":[["b0df75bb.f00e08"]]},{"id":"b0df75bb.f00e08","type":"function","z":"3d4fadf1.fb4d02","name":"","func":"msg.payload=global.get(\"temp\");\nreturn 
msg;","outputs":1,"noerr":0,"x":324.5,"y":270,"wires":[["72bc7647.3ae608"]]},{"id":"72bc7647.3ae608","type":"debug","z":"3d4fadf1.fb4d02","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":475.5,"y":269,"wires":[]}]
