node-red/mqtt-http
[{"id":"fcdc062a.f6e468","type":"template","z":"5f8d49ec.75f6e8","name":"mqtt.html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>MQTT Publisher</h1>\n        Topic : {{req.query.topic}}\n        <br/>\n        Payload : {{req.query.payload}}\n    </body>\n</html>","x":502,"y":245,"wires":[["91b4ede2.e838c"]]},{"id":"503c132b.1a2f8c","type":"http in","z":"5f8d49ec.75f6e8","name":"","url":"/mqtt","method":"get","upload":false,"swaggerDoc":"","x":302,"y":245,"wires":[["fcdc062a.f6e468","8ff95e3c.68e7f","e060eb1d.3f9e28"]]},{"id":"91b4ede2.e838c","type":"http response","z":"5f8d49ec.75f6e8","name":"","statusCode":"","headers":{},"x":712,"y":245,"wires":[]},{"id":"8ff95e3c.68e7f","type":"function","z":"5f8d49ec.75f6e8","name":"argDecoder","func":"var jsonObj = msg.payload;\nmsg.topic = String(jsonObj.topic);\nmsg.payload = String(jsonObj.payload);\nreturn msg;","outputs":1,"noerr":0,"x":512,"y":285,"wires":[["3de5e648.12cf4a","c67868e9.029ab8"]]},{"id":"3de5e648.12cf4a","type":"debug","z":"5f8d49ec.75f6e8","name":"php-mqtt-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":742,"y":325,"wires":[]},{"id":"c67868e9.029ab8","type":"mqtt out","z":"5f8d49ec.75f6e8","name":"","topic":"","qos":"","retain":"","broker":"df873db0.7a8c8","x":712,"y":285,"wires":[]},{"id":"e060eb1d.3f9e28","type":"debug","z":"5f8d49ec.75f6e8","name":"html-mqrr-bridge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":524,"y":331,"wires":[]},{"id":"df873db0.7a8c8","type":"mqtt-broker","z":"","name":"Pi-Server(local)","broker":"10.10.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
