node-red/mqtt-sql
[{"id":"75937145.650e2","type":"mqtt in","z":"cb319b24.e3ea38","name":"","topic":"light/state","qos":"2","broker":"df873db0.7a8c8","x":195.5,"y":173,"wires":[["20a91a13.cec6c6"]]},{"id":"9fc93157.d3239","type":"mqtt in","z":"cb319b24.e3ea38","name":"","topic":"light/auto","qos":"2","broker":"df873db0.7a8c8","x":192.5,"y":228,"wires":[["eb1a1824.806fa8"]]},{"id":"b08bfd9c.601a8","type":"mqtt in","z":"cb319b24.e3ea38","name":"","topic":"aircon/state","qos":"2","broker":"df873db0.7a8c8","x":179.5,"y":282,"wires":[["8ee11051.d24f"]]},{"id":"3cc905a.18c99fa","type":"mqtt in","z":"cb319b24.e3ea38","name":"","topic":"aircon/auto","qos":"2","broker":"df873db0.7a8c8","x":184.5,"y":336,"wires":[["25feee80.e5a962"]]},{"id":"67baa7aa.936ce8","type":"mqtt in","z":"cb319b24.e3ea38","name":"","topic":"stove/state","qos":"2","broker":"df873db0.7a8c8","x":183,"y":385,"wires":[["3026222a.29bd4e"]]},{"id":"61d50fb1.f2beb","type":"mqtt in","z":"cb319b24.e3ea38","name":"","topic":"stove/auto","qos":"2","broker":"df873db0.7a8c8","x":183,"y":454,"wires":[["33e39206.2f2c1e"]]},{"id":"c947e8ec.e4c388","type":"mqtt in","z":"cb319b24.e3ea38","name":"","topic":"room/#","qos":"2","broker":"df873db0.7a8c8","x":190,"y":514,"wires":[["b36c4561.a07cf8"]]},{"id":"20a91a13.cec6c6","type":"function","z":"cb319b24.e3ea38","name":"","func":"if(msg.payload==\"1\")\n    msg.topic=\"INSERT INTO LightState(state) VALUES(true);\";\nelse\n     msg.topic=\"INSERT INTO LightState(state) VALUES(false);\";\nreturn msg;","outputs":1,"noerr":0,"x":378,"y":172,"wires":[["3b53089e.2a9ef8"]]},{"id":"3b53089e.2a9ef8","type":"mysql","z":"cb319b24.e3ea38","mydb":"e191f183.eed72","name":"","x":726,"y":375,"wires":[[]]},{"id":"eb1a1824.806fa8","type":"function","z":"cb319b24.e3ea38","name":"","func":"if(msg.payload==\"1\")\n    msg.topic=\"INSERT INTO LightAuto(state) VALUES(true);\";\nelse\n     msg.topic=\"INSERT INTO LightAuto(state) VALUES(false);\";\nreturn msg;","outputs":1,"noerr":0,"x":379,"y":228,"wires":[["3b53089e.2a9ef8"]]},{"id":"8ee11051.d24f","type":"function","z":"cb319b24.e3ea38","name":"","func":"if(msg.payload==\"1\")\n    msg.topic=\"INSERT INTO AirconState(state) VALUES(true);\";\nelse\n     msg.topic=\"INSERT INTO AirconState(state) VALUES(false);\";\nreturn msg;","outputs":1,"noerr":0,"x":377,"y":281,"wires":[["3b53089e.2a9ef8"]]},{"id":"25feee80.e5a962","type":"function","z":"cb319b24.e3ea38","name":"","func":"if(msg.payload==\"1\")\n    msg.topic=\"INSERT INTO AirconAuto(state) VALUES(true);\";\nelse\n     msg.topic=\"INSERT INTO AirconAuto(state) VALUES(false);\";\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":332,"wires":[["3b53089e.2a9ef8"]]},{"id":"3026222a.29bd4e","type":"function","z":"cb319b24.e3ea38","name":"","func":"if(msg.payload==\"1\")\n    msg.topic=\"INSERT INTO StoveState(state) VALUES(true);\";\nelse\n     msg.topic=\"INSERT INTO StoveState(state) VALUES(false);\";\nreturn msg;","outputs":1,"noerr":0,"x":373,"y":384,"wires":[["3b53089e.2a9ef8"]]},{"id":"33e39206.2f2c1e","type":"function","z":"cb319b24.e3ea38","name":"","func":"if(msg.payload==\"1\")\n    msg.topic=\"INSERT INTO StoveAuto(state) VALUES(true);\";\nelse\n     msg.topic=\"INSERT INTO StoveAuto(state) VALUES(false);\";\nreturn msg;","outputs":1,"noerr":0,"x":376,"y":453,"wires":[["3b53089e.2a9ef8"]]},{"id":"b36c4561.a07cf8","type":"function","z":"cb319b24.e3ea38","name":"","func":"//get all the shit\n\n\nif(msg.topic==\"room/light\")\n    msg.topic = \"INSERT INTO Room(light,temp,hum) VALUES(\" + msg.payload + \",\" + global.get('temp') + \",\" + global.get('hum') +\");\";\nif(msg.topic==\"room/temp\")\n    msg.topic = \"INSERT INTO Room(light,temp,hum) VALUES(\" + global.get('light') + \",\" + msg.payload + \",\" + global.get('hum') +\");\";\nif(msg.topic==\"room/hum\")\n    msg.topic = \"INSERT INTO Room(light,temp,hum) VALUES(\" + global.get('light') + \",\" + global.get('temp') + \",\" + msg.payload +\");\";\nreturn msg;","outputs":1,"noerr":0,"x":371,"y":514,"wires":[["3b53089e.2a9ef8"]]},{"id":"df873db0.7a8c8","type":"mqtt-broker","z":"","name":"Pi-Server(local)","broker":"10.10.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e191f183.eed72","type":"MySQLdatabase","z":"","host":"10.10.0.1","port":"3306","db":"pi","tz":""}]
